<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

  <link rel='stylesheet' href='/style.css'/>

  <title>Document</title>
</head>
  <body>
    <nav>
      <% if(currentUser) { %>
        <a href="/">Home</a>
        <a href="/users/dashboard/<%= currentUser._id %>">Dashboard</a>
        <a href="/users/activity/<%= currentUser._id%>">Activity</a>
        <form action="/logout?_method=DELETE" method="POST">
          <input type="submit" value="Log Out" />
        </form>
      <% } else { %>
        <a href="/">Home</a>
        <a href="/new_login">Create Account</a>
        <a href="/login">Login</a>
      <% } %>
    </nav>
    
 