
  <%- include('../partials/header.ejs')  %>
<div class="choices-container">
  <a class="choice-text" href="/activities/problemRephrase/<%= currentUser._id%>">
    <div class="choices">
			<p class="p-links">Clarify Problem</p>
		</div>
  </a>
</div>  


  <%- include('../partials/footer.ejs')  %>