
<%- include('../partials/header.ejs')  %>
  <div class="text-container">
  <p class="paragraphs" id="clarify">In a short sentence, input the problem you are trying to solve or roadblock you want to get passed. Try to narrow it down to the very basic underlying issue</p></div>
  <div class="form-container">
    <form action="/user/rephrase/<% currentUser._id%>">
      <input type="text" name="problem">
      <input type="submit">
    </form>
  </div>

  <%- include('../partials/footer.ejs')  %>