<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/nav.ejs')  %>
  <p id="clarify">In a short sentence, input the problem you are trying to solve or roadblock you want to get passed try. Try to narrow it down to the very basic underlying issue</p>
  <form action="/user/rephrase/:id">

  </form>
</html>