<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MEEN Auth Starter</title>
</head>

<body>
	<%- include('./partials/nav.ejs')  %>
	<h1>Activity or Dashboard</h1>
	
  <a href="/users/dashboard/<%= currentUser._id %>">My Ideas</a>

	<a href="/user/activity/<%= currentUser._id %>">Activity</a>
</body>

</html>