


<%- include('./partials/header.ejs')  %>

<div class="choices-container">
	<a class="choice-text" href="/users/dashboard/<%= currentUser._id %>">
		<div class="choices">
			<p class="p-links">My Ideas</p>
		</div>
	</a>
	<a class="choice-text" href="/users/activity/<%= currentUser._id %>">
		<div class="choices">
			<p class="p-links">Activity</p>
		</div>
	</a>
</div>

<%- include('./partials/footer.ejs')  %>