
<%- include('./partials/header.ejs')  %>
  <div class="header-titles">
    <h1>Welcome to Bad Ideas</h1>
  </div>
  <div class="paragraphs">
    <p>We help you solve problems</p>
  </div>
  

<%- include('./partials/footer.ejs')  %>