
<%- include('../partials/header.ejs')  %>
<div class="form-container form-container-edit-idea">
  <form action="/ideas_put/<%=idea._id%>?_method=PUT" method="POST">
    <input type="text" name="text" value="<%=idea.text%>">
    <input type="submit">
  </form>
</div>

  <%- include('../partials/footer.ejs')  %>