
<%- include('../partials/header.ejs')  %>
<div class="form-container new-idea-input-field">
  <form action="/create_idea/<%= currentUser._id%>" method="POST">
    <input  type="text" name="text" id="idea" placeholder="new ideea">
    <div class="input-container">
      <input type="submit">
    </div>
  </form>
</div>

<%- include('../partials/footer.ejs')  %>