
<%- include('../partials/header.ejs')  %>
	
	<div class="header-titles">
		<h1>Login</h1>
  </div>
	<div class="form-container">
		<form action='/' method='POST'>
			<input type="email" name="email" id="email" placeholder="email"/>
			<br>
			<input type="password" name="password" id="password" placeholder="password" />
			<br>
			<div class="input-container">
				<input type="submit" value="Login">
			</div>
		</form>
	</div>

<%- include('../partials/footer.ejs')  %>