<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>My Ideas</h1>
  <ul>
    <% ideas.forEach((idea) => { %>
      <li>
          <%=idea.text%>
          <a href="/<%=idea._id%>/edit_idea">Edit</a>
          <form action="/delete_idea/<%=idea._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
          </form>
      </li>
    <% }) %>
  </ul>
  <a href="/idea/new/<%=user._id%>">New Idea</a>
</body>
</html>